body {
	background-color: #303030;
	color: #ffffff;
}
.btn {
	background-color: #1f1f1f;
	color: #efefef;
}
.btn:hover {
	background-color: #2f2f2f;
	color: #eeeeee;
}
input[type=text] {
	color: #fff;
}
input[type=text]:focus {
	border-bottom: 1px solid #bbbbbb !important; 
	box-shadow: 0 1px 0 0 #bbbbbb !important;
}