div.control {
	margin:0;
	-webkit-app-region: drag;
	background-color: rgb(60,60,60);
	position:absolute;
	top:0px;
	right:0px;
	height: 24px;
	width: 100%;

	border: 1px solid rgb(120,120,120);
	border-radius: 5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom: none;
}
div.control span.controlButtons {
	position: absolute;
	right: 0;
	top: 0;
}
div.control span.controlButtons a span.mdi:hover
div.control span.controlButtons a {
	background: #eee;
	color:#000;
}
div.control span.controlButtons a span {
	padding: 2px 20px;
}