div.downloadHistory table.historyList tr {
	border-bottom: 1px solid rgb(90,90,90);
	line-height: 20px;
	min-height: 20px;   
	max-height: 80px;
}

div.downloadHistory div.downloadQueue-control ul li {
	display: inline;
}
div.downloadHistory div.downloadQueue-control {
	position: fixed;
	bottom: 25px;
	left: 15px;
	width: 70vw;
	height: 38px;
}

table.historyList td.thumbnail {
    width: 1%;
	box-sizing: content-box;
    white-space: nowrap;
}
table.historyList td.thumbnail img {
	float: left;
	max-height: 80px;
	max-width: 100px;
}
table.historyList td.postInfo {
	width: 1%;
	box-sizing: content-box;
	white-space: nowrap;
}
table.historyList td.postOptions {
	width: 1%;
	box-sizing: content-box;
	white-space: nowrap;
}
table.historyList ul.postInfo {
	min-width: 20%;
	margin: 0;
}
table.historyList td.postOptions ul.postOptions {
	margin: 0;
}
table.historyList td.postOptions ul.postOptions li i#removePost {
	transition: 150ms;
	font-size: 28px;
}
table.historyList td.postOptions ul.postOptions li i#removePost:hover {
	cursor: pointer;
	transform: scale(1.1);
	text-shadow 0 0 3px #fff;
	transition: 150ms;
}


div.queueDownloader * {
	float:center;
}
div.queueDownloader td div.progress {
	margin: 5px 0 5px 0;
}
div.queueDownloader td {
	width: 50%;
}
div.queueDownloader table.totalStats td.stats {
	width: 1%;
	box-sizing: content-box;
	white-space: nowrap;
}
div.queueDownloader .progress .determinate{
	transition: width 0ms;
}

div.queueDownloader table.queuedItems td.thumbnail{
    width: 1%;
	box-sizing: content-box;
    white-space: nowrap;
}
div.queueDownloader table.queuedItems td.thumbnail img{
	float: left;
	max-height: 80px;
	max-width: 100px;
}
div.queueDownloader table.queuedItems td.downloadedSize{
    width: 2%;
	box-sizing: content-box;
    white-space: nowrap;
    width: 60px;
}