@import url("_color-scheme.css");

@import url("search.css");
@import url("preloader.css");
@import url("settings.css");
@import url("download-manager.css");
@import url("nav.css");
@import url("controlbar.css");
@import url("debug.css");
@import url("notification.css");
@import url("misc.css");


div.pageContent {
	position: relative;
	top: 25px;
}
div.container{
	width:90%;
	margin-top: 50px;
}
.censorContent {
	filter: blur(5px);
	transition: 150ms;
}
.censorContent:hover {
	filter:none;
}
div.bottomSpace {
	height: 150px;
	position: relative;
	z-index: -1;
}
div.card.small {
	width: 200px;
	height: 300px;
}
div.card.small img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
hr {
	margin-bottom: 5px;
}