@import url("search.css");
@import url("preloader.css");
@import url("settings.css");
@import url("nav.css");
@import url("controlbar.css");


div.mainContent {
	margin-top:28px;
	background-color: #303030;
	color: #ffffff;
	height: calc(100% - 28px);
	width: 100%;
	position: absolute;

	border-radius: 5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border: 1px solid rgb(120,120,120);
	border-top:none;
}


* {
	color: #fff;
}