@import url("search.css");
@import url("preloader.css");
@import url("settings.css");
@import url("nav.css");
@import url("controlbar.css");


body {
	background-color: #303030;
	color: #ffffff;
}
.censorContent {
	filter: blur(5px);
	transition: 150ms;
}
.censorContent:hover {
	filter:none;
}
div.bottomSpace {
	height: 150px;
	position: relative;
}