div.scrollToTop {
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: -1;
}
div.scrollToTop .btn-large {
	background-color: #121212;
	color: #efefef;
}
div.scrollToTop .btn-large:hover{
	background-color: #353535;
	color: #efefef;
}
span#outsidelink {
	color: #039be5;
}
span#outsidelink:hover{
	cursor:pointer;
}
nav.stepper{
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #121212;
}
nav.stepper a#next {
	position: relative;
	top:5px;
	height: 30px;
	line-height: 30px;
}
nav.stepper a.breadcrumb{
	color: #9f9f9f;
	cursor: default;
}
nav.stepper a.breadcrumb.active{
	color: #efefef;
	cursor: default;
}
div.downloadStatus {
	z-index: -1;
	width: 20vw;
	position: fixed;
	top: -16px;
	left: 40vw;
	right: 40vw;
	transition: 500ms;
}
div.downloadStatus.downloading {
	z-index: 10000;
	width: 40vw;
	position: fixed;
	top: -8px;
	left: 30vw;
	right: 30vw;
	transition: 100ms;
}
div.downloadStatus div.progress {
	height: 8px;
	border-radius: 0 0 3px 3px;
}
div.pageControl {
	margin: auto;
	width: 50%;
	align-content: center;
	text-align:center;
	padding-bottom: 15px;
	display: none;
}
div.pageControl ul.pagination {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
div.notification {
	z-index: 10000;
	width: 40vw;
	position: fixed;
	top: -45px;
	left: 30vw;
	right: 30vw;
	transition: 300ms;
}
div.notification.show {
	z-index: 10000;
	width: 40vw;
	position: fixed;
	top: 0;
	left: 30vw;
	right: 30vw;
	transition: 100ms;
}
div.notification,
div.notification.show {
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	text-align:center;
}
div.notification.error {
	background-color: rgba(180,0,0,.8);
	color: white;
}
div.notification.warn {
	background-color: rgba(180,100,0,.8);
	color: white;
}
div.notification.info {
	background-color: rgba(0,160,180,.8);
	color: white;
}
div.notification span {
	font-size: 16px;
	padding: 3px;
}