div.notification
{
	width: 50vw;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 1000;
}
div.notification ul li
{
	position: relative;
	left: -50vw;
	
	min-width: 50px;
	max-width: 100%;

	height: 24px;
	line-height: 24px;

	transition: 200ms;

	margin-bottom: 5px;
}
div.notification ul li.active
{
	position: relative;
	left: 0;
	transition: 500ms;
}
div.notification ul li span
{
	width: inherit;
	padding: 3px 15px;

	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
div.notification span[type=error] {
	background-color: rgba(180,0,0,.8);
	color: white;
}
div.notification span[type=warn] {
	background-color: rgba(180,100,0,.8);
	color: white;
}
div.notification span[type=info] {
	background-color: rgba(0,160,180,.8);
	color: white;
}