div.apiSettings div.tagBlacklist div.chips {
	display: flexbox;
}
span.chipContain {
	min-width: 0%;
	max-width: 90%;
}
div.apiSettings div.tagBlacklist input {
	width: 300px;
	max-width: 100%;
}
div.chips .input{
    width: 100% !important; 
}